
@import "tailwindcss";

.bgimage{
    background-image: url(./public/Rectangle.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.bgimg2{
    background-image: url(./public/background.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.bgimg3{
    background-image: url(./public//Rectangle\ .jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.bgraund3{
    background-image: url(./public/bachgroubd2.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
