@import "tailwindcss";

.background{
    background-image: url(./public/background1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.background2{
    background-image: url(./public/Group\ 757.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


.background3{
    background-image: url(./public/Group\ 796.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.backgroundend{
    background-image: url(./public/Group\ 870.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.btnblue{
    background: linear-gradient(90deg, #61B5E4, #016CA8);
}